@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            @*title*@
            <h4>List of orders</h4>
        </p>

        @*table*@
        <table class="table">
            <thead>
                <tr>
                    @*table header*@
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <th>User</th>
                    }

                </tr>
            </thead>
            <tbody>
                @*table body*@
                @*foreach loop to get each item in the list of orders*@
                @foreach (var item in Model)
                {
                    @*a row in the table*@
                    <tr>
                        @*table data*@
                        <td class="align-middle">@item.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type: none;">
                                @*A foreach loop to retreive all orderitems that or in the individual order*@
                                @foreach (var orderitem in item.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@orderitem.Amount</span>[@orderitem.Price.ToString("c")] - @orderitem.Game.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @item.OrderItems.Select(x => x.Game.Price * x.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <td class="align-middle"> @item.User.Email </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>