@model GameRating

@{
    ViewData["Title"] = "Game Rating Details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @*Displays the developer name*@
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 justify-content-center">
                    @*Displays the developer logo*@
                    <img src="@Model.Logo" alt="@Model.Name" style="width: 250px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Description: </b>
                            @Model.Description
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">

                        @if (User.Identity!.IsAuthenticated && User.IsInRole("admin"))
                        {
                            @*If the user is authenticated and has the role admin, then render the edit button. *@
                            <a class="btn btn-outline-success float-sm-end" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                        }


                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            @*If the user is authenticated and has the role admin, then use the normal back button that takes the user to index for platform *@
                            <a class="btn btn-outline-secondary" asp-action="Index"><i class="bi bi-caret-left-fill"></i> Back</a>
                        }
                        else
                        {
                            @*else use the back button that returns to game details view with the return id *@
                            <a class="btn btn-outline-secondary" asp-controller="Game" asp-action="Details" asp-route-id="@TempData["ReturnId"]"><i class="bi bi-caret-left-fill"></i> Back</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $('#Logo').val();
        })
    </script>
}