@model IEnumerable<VoiceActor>

@{
    ViewData["Title"] = "List of Voice Actor";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center">Picture</th>
                            <th class="text-center">Name</th>
                            @if (User.Identity!.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <th class="text-center">Actions</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var va in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    <div class="d-flex justify-content-center">
                                        <img class="rounded-circle img-thumbnail" src="@va.PictureURL" alt="@va.FullName" style="max-width: 150px">
                                    </div>
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => va.FullName)
                                </td>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                {
                                    <td class="text-center align-middle">
                                        <div class="btn-group d-flex flex-wrap justify-content-center" role="group">
                                            <a class="btn btn-sm btn-outline-primary mr-1 mb-1" asp-action="Edit" asp-route-id="@va.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                            <a class="btn btn-sm btn-outline-info mr-1 mb-1" asp-action="Details" asp-route-id="@va.Id"><i class="bi bi-eye"></i> Details</a>
                                            <a class="btn btn-sm btn-outline-danger mb-1" asp-action="Delete" asp-route-id="@va.Id"><i class="bi bi-trash"></i> Delete</a>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateButton", "GameDeveloper")

@section scripts {
    <script>// Add hover effects to action buttons
        $(document).ready(function () {
            $('.btn').hover(function () {
                $(this).toggleClass('btn-outline-dark');
            });
        });</script>
}
