@model Game

@{
    ViewData["Title"] = "Games Detials";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-danger">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 align-content-center">
                    <img src="@Model.ImageURL" alt="@Model.Name" style="width: 250px; border: 2px solid #555;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Publisher: </b>
                            <a asp-controller="GamePublisher" asp-action="Details" asp-route-id="@Model.GamePublisherId" asp-route-returnId="@Model.Id">@Model.GamePublisher.Name</a>
                        </p>
                        <p class="card-text">
                            <b>Developer: </b>
                            <a asp-controller="GameDeveloper" asp-action="Details" asp-route-id="@Model.GameDeveloperId" asp-route-returnId="@Model.Id">@Model.GameDeveloper.Name</a>
                        </p>
                        <p class="card-text">
                            <b>PEGI: </b>
                            @if (@Model.GameRating.Name == "3" || @Model.GameRating.Name == "7")
                            {
                                <a class="badge bg-success text-white" asp-controller="GameRating" asp-action="Details" asp-route-id="@Model.GameRatingId" asp-route-returnId="@Model.Id"><b>@Model.GameRating.Name</b></a>
                            }
                            else if (@Model.GameRating.Name == "12" || @Model.GameRating.Name == "16" || @Model.GameRating.Name == "!")
                            {
                                <a class="badge bg-warning text-white" asp-controller="GameRating" asp-action="Details" asp-route-id="@Model.GameRatingId" asp-route-returnId="@Model.Id"> <b>@Model.GameRating.Name</b></a>
                            }
                            else
                            {
                                <a class="badge bg-danger text-white" asp-controller="GameRating" asp-action="Details" asp-route-id="@Model.GameRatingId" asp-route-returnId="@Model.Id"><b>@Model.GameRating.Name</b></a>
                            }
                        </p>
                        <p class="card-text">
                            <b>Genre: </b>
                            @Model.GameGenre
                        </p>
                        <p class="card-text"><b>Release Date: </b> @Model.ReleaseDate.ToString("dd MMM yyyy")</p>
                        <p class="card-text">
                            <b>Status:</b>
                            @*if the current date is past the release date, then the badge will be released, if not, then the badge will become preoreder.*@
                            @if (DateTime.Now >= Model.ReleaseDate)
                            {
                                <span class="badge bg-success text-white">RELEASED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary text-white">PRE-ORDER</span>
                            }
                        </p>
                        @*if the current game property of type list<Platform_Game> has the current count that is more than zero, display the platforms.*@
                        @if (Model.Platforms_Games.Count > 0)
                        {
                            <p class="card-text">
                                <b>Platform: </b>
                                <hr />
                                <div class="row">
                                    @*for each of the platforms in the model List property called Platform_Game, display their picture and name. By clicking a platform name, it will invoke the action details in the controller class with platform id that was clicked.*@
                                    @foreach (var platform in Model.Platforms_Games)
                                    {
                                        <div class="column text-center" style="max-width:160px;">
                                            <img src="@platform.Platform.ImageURL" class="boarder-info VoiceActorImages" />
                                            <br />
                                            <a asp-controller="Platform" asp-action="Details" asp-route-id="@platform.PlatformId" asp-route-returnId="@Model.Id">@platform.Platform.Name</a>
                                        </div>
                                    }
                                </div>
                            </p>

                        }
                        @*if the current game property of type list<VoiceActors_Games> has the current count that is more than zero, display the voice actors.*@
                        @if (Model.VoiceActors_Games.Count > 0)
                        {
                            <p class="card-text">
                                <b>Voice Actors: </b>
                                <hr />
                                <div class="row">
                                    @*for each of the voice actores in the model List property called VoiceActor_Games, display their picture and name. By clicking a voice actors name, it will invoke the action details in the controller class with the voice actors id that was clicked.*@
                                    @foreach (var voiceActor in Model.VoiceActors_Games)
                                    {
                                        <div class="column text-center" style="max-width:160px;">
                                            <img src="@voiceActor.VoiceActor.PictureURL" class="boarder-info rounded-circle VoiceActorImages" />
                                            <br />
                                            <a asp-controller="VoiceActor" asp-action="Details" asp-route-id="@voiceActor.VoiceActorId" asp-route-returnId="@Model.Id">@voiceActor.VoiceActor.FullName</a>
                                        </div>
                                    }
                                </div>
                            </p>

                        }

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        @if (TempData["returnController"]!.ToString() == "Game")
                        {
                            @*this is the button that will the user to the index for game.*@
                            <a class="btn btn-outline-primary" asp-action="Index"><i class="bi bi-caret-left-fill"></i> Back</a>
                        }
                        else if (TempData["returnController"]!.ToString() == "GameDeveloper")
                        {
                            @*this is the button that will the user to the index for game.*@
                            <a class="btn btn-outline-primary" asp-controller="@TempData["returnController"]" asp-action="Details" asp-route-returnId="@Model.Id" asp-route-Id="@Model.GameDeveloperId"><i class="bi bi-caret-left-square-fill"></i> Back</a>
                        }
                        else if (TempData["returnController"]!.ToString() == "GamePublisher")
                        {
                            @*this is the button that will the user to the index for game.*@
                            <a class="btn btn-outline-primary" asp-controller="@TempData["returnController"]" asp-action="Details" asp-route-returnId="@Model.Id" asp-route-Id="@Model.GamePublisherId"><i class="bi bi-caret-left-square-fill"></i> Back</a>
                        }

                        @*this is the button that will call the action method AddToShoppingCart in the controller Orders with the id of the current game. The button will gave a icon of a cart with a plus and display "Add to Cart" with the current game price in a currency.*@
                        <a class="btn btn-success text-white float-sm-end" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (@Model.Price.ToString("c"))</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>