@model IEnumerable<Game>

@{
    ViewData["Title"] = "List of Games";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}


<div class="row">

    <partial name="_pager" model="@pager"></partial>

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header bg-gradient text-white bg-danger">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    @if (User.Identity!.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a class="text-white float-sm-left game-trash-icon" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" style="width: 100%; height: 280px; border: 2px solid #555;" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            @*<p class="card-text">@item.Description</p>*@
                            <p class="card-text"><b>Publisher: </b> @item.GamePublisher.Name</p>
                            <p class="card-text"><b>Developer: </b> @item.GameDeveloper.Name</p>
                            @*The following cart text section uses if statements to check which rating the game is then uses the badge for that rating.*@
                            <p class="card-text">
                                <b>PEGI: </b>
                                @if (@item.GameRating.Name == "3" || @item.GameRating.Name == "7")
                                {
                                    <span class="badge bg-success text-white">@item.GameRating.Name</span>
                                }
                                else if (@item.GameRating.Name == "12" || @item.GameRating.Name == "16" || @item.GameRating.Name == "!")
                                {
                                    <span class="badge bg-warning text-white">@item.GameRating.Name</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">@item.GameRating.Name</span>
                                }
                            </p>
                            <p class="card-text">
                                <b>Genre: </b>
                                @*Gets the display name for the enum genre.*@
                                @Html.DisplayTextFor(g => @item.GameGenre) 
                            <p class="card-text"><b>Release Date: </b> @item.ReleaseDate.ToString("dd MMM yyyy")</p>
                            <p class="card-text">
                                <b>Status:</b>
                                @if (DateTime.Now >= item.ReleaseDate)
                                {
                                    <span class="badge bg-success text-white">RELEASED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">PRE-ORDER</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <a class="btn btn-outline-primary float-sm-end" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i> Show Detail</a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add (@item.Price.ToString("c"))</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <partial name="_pager" model="@pager"></partial>
</div>

@await Html.PartialAsync("_CreateButton", "Game")

